USE [master]
GO
/****** Object:  Database [Dapper]    Script Date: 03/08/2022 22:46:02 ******/
CREATE DATABASE [Dapper]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dapper', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Dapper.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dapper_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Dapper_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dapper].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dapper]
GO
/****** Object:  Table [dbo].[Console]    Script Date: 03/08/2022 22:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Console](
	[IdConsole] [int] IDENTITY(1,1) NOT NULL,
	[NomeConsole] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdConsole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemConsole]    Script Date: 03/08/2022 22:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemConsole](
	[IdItem] [int] IDENTITY(1,1) NOT NULL,
	[DescricaoItem] [varchar](100) NOT NULL,
	[TipoItem] [varchar](30) NOT NULL,
	[IdConsole] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ItemConsole]  WITH CHECK ADD FOREIGN KEY([IdConsole])
REFERENCES [dbo].[Console] ([IdConsole])
GO
USE [master]
GO
